#wrap {
    width: 1250px;
    height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
}

.logo {
    width: 250px;
    height: 100px;
    background-color: #EEEEE9;
}

.navi {
    width: 1000px;
    height: 100px;
    background-color: #D6CCC2;
}

main {
    position: relative;
}

.section1 {
    width: 1250px;
    height: 440px;
    background-color: #F5ECE1;
}

.section2 {
    display: flex;
}

.section2_left {
    width: 625px;
    height: 440px;
    background-color: #E4D6CA;
}

.section2_right {
    width: 625px;
    height: 440px;
    background-color: #D5BEB1;
}

.floatbox {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #866756;
    left: 375px;
    top: 187px;
}

footer {
    width: 1250px;
    height: 100px;
    background-color: #D6CCC2;
}

@media (max-width: 680px) {
    #wrap {
        width: 100%;
    }

    .logo {
        display: none;
    }

    .navi {
        width: 100%;
        height: 100px;
    }

    main {
        width: 100%;
        height: 880px;
    }

    .floatbox {
        width: 235px;
        height: 235px;
        position: absolute;
        left: 0px;
        top: 645px;
    }

    .section1 {
        width: 100%;
        height: 294px;
    }

    .section2 {
        display: block;
    }

    .section2_left {
        width: 100%;
        height: 294px;
    }

    .section2_right {
        width: 100%;
        height: 293px;
    }

    footer {
        width: 100%;
        height: 100px;
        background-color: #D6CCC2;
    }
}

@media (max-width: 450px) {
    #wrap {
        width: 100%;
    }

    main {
        position: relative;
    }

    .floatbox {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0px;
        left: auto;
        right: 0px;
    }
}